absl-py
accelerate
datasets
deepspeed
evaluate
google-auth
google-genai
gspread
peft
torch
transformers
git+https://github.com/leobianco/trl.git@my-trl-0.19.0#egg=trl
wandb
huggingface-hub
ipython
matplotlib
nltk
scikit-learn
vllm>=0.6.4
rouge-score
